<html>
<head>
</head>
<body>
	
	<wicket:head>
      	<script type="text/javascript">
      		function selectTableRow(id, selectedCssClassName) {
      			var tableRow = document.getElementById(id);
      			if (tableRow != null && tableRow != undefined) {
	      			var row = tableRow.parentNode.firstChild;
	      			
	      			while(row != null ) {
	      				if (row.className != null) {
	      					row.className = row.className.replace(selectedCssClassName, '');
	      				}
	      				row = row.nextSibling;		
	      			}
	      			tableRow.className = tableRow.className.replace('over', '') + ' ' + selectedCssClassName;
      			}
         	}
    	</script>
	</wicket:head>
	
	<wicket:panel>
		<div>
			<table class="striped">
				<tr class="tdhead">
					<td wicket:id="headers">
						<span wicket:id="header_label">Header</span>
						<span wicket:id="header" class="sort-btn"/>
					</td>
				</tr>
				<tr wicket:id="rows">
		       		<td wicket:id="cells">
		            	<span wicket:id="cell"></span>
		        	</td>
	    		</tr>
			</table>	
		</div>
		
		<wicket:child></wicket:child>
	
	</wicket:panel>
</body>
</html>