input, textarea, select { border: 1px solid #c0c0c0; margin: 4px 0; font-family: Verdana, Arial, Helvetica, sans-serif; padding: 2px 0; vertical-align: middle; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-box-sizing: border-box; }
input[type="text"] { width: 155px; }
		/*input { height: 18px; } mag weg, opgelost met box-sizing in te stellen*/
input.button, input[type="radio"], input[type="checkbox"], input[type="button"], input[type="submit"] { width: auto; height: auto; }
input[type="radio"], input[type="checkbox"] { border: none; }
input[disabled="disabled"], input.disabled, textarea[disabled="disabled"], textarea.disabled, select.disabled { background-color:#d9d9da; color:#666; } /* Class is nodig voor IE */
select { width: 161px; padding: 1px 0; }
textarea, select, input[type="text"] { font-size: 13px; }
	
	.center { text-align: center; }
	
input.button, input.button:visited, button.button { display: inline-block; padding: 3px 8px 4px; color: #fff !important;
	font-weight: bold; text-decoration: none; line-height: 1; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.4); -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.4); box-shadow: 0 1px 3px rgba(0,0,0,0.4);
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2); border: none; border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	/*position: relative; geeft problemen op sliding panels anders*/ cursor: pointer; 
	background: #666 url(../images/tvh_webapp/buttons/overlay.png) repeat-x; font-size: 11px !important; 
	overflow: visible; /*correct padding in ie*/ margin-right: 2px; margin-left: 2px; height: 23px; /* height necessary for same heights in IE*/ }
	
input.button:hover, button.button:hover { background-color: #222; }
input.button:active, button.button:active { top: 1px; }
	
	/*IE moet disabled class hebben anders styled hij niet... */
input.button[disabled="disabled"], button.button[disabled="disabled"], .button.disabled { 
		background: none; background-color: #cbcbcb; text-shadow: none;	cursor: default; 
		-webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; border-bottom: none; }
input.button[disabled="disabled"]:hover, button.button[disabled="disabled"]:hover, .button.disabled:hover { 
		background-color: #cbcbcb; }
input.button[disabled="disabled"]:active, button.button[disabled="disabled"]:active, .button.disabled:active { top: 0;  }	

.invalid {border : 1px solid red;}

tablye.layout, table.layout td { border:0px none; }

