	.box-buttons-left { clear: both; margin-top: 15px; text-align:left; }
	.box-buttons-right { clear: both; margin-top: 15px; text-align:right; }

/* -----------------------------
		Buttons + icons
   ---------------------------*/

	/* Buttons */
	input.button, input.button:visited, button.button { display: inline-block; padding: 3px 8px 4px; color: #fff !important;
	font-weight: bold; text-decoration: none; line-height: 1; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.4); -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.4); box-shadow: 0 1px 3px rgba(0,0,0,0.4);
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2); border: none; border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	cursor: pointer; 
	background: #9FC2D5 repeat-x; font-size: 11px !important; 
	overflow: visible; /*correct padding in ie*/ margin-right: 2px; margin-left: 2px; height: 23px; /* height necessary for same heights in IE*/ }
	
	input.button:hover, button.button:hover { background-color: #3F738F; }
	input.button:active, button.button:active { top: 1px; }
	
	/* IE */
	input.button[disabled="disabled"], button.button[disabled="disabled"], .button.disabled { 
		background: none; background-color: #D8E6ED; text-shadow: none;	cursor: default; 
		-webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; border-bottom: none; }
	input.button[disabled="disabled"]:hover, button.button[disabled="disabled"]:hover, .button.disabled:hover { 
		background-color: #D8E6ED; }
	input.button[disabled="disabled"]:active, button.button[disabled="disabled"]:active, .button.disabled:active { top: 0;  }
	
/* Action buttons */
   .delete-btn, .delete-btn-disabled,
   .print-btn, .print-btn-disabled, .print-btn-green, .print-btn-red,
   .print-btn, .print-btn-disabled,
   .edit-btn, .edit-btn-disabled, .edit-btn-green,
   .zoom-btn, .zoom-btn-disabled,
   .plus-btn, .plus-btn-disabled,
   .gotopage-btn, .gotopage-btn-disabled,
   .lookup-btn
   { width: 16px; height: 16px; display: inline-block; outline: none; /*margin: 2px 2px -2px;*/ margin: 0 2px; vertical-align:text-bottom;	border: 0 !important; }
	
	/* IE hack
	*/
	*:first-child+html .delete-btn, *:first-child+html .delete-btn-disabled,
   *:first-child+html .edit-btn, *:first-child+html .edit-btn-disabled, *:first-child+html .edit-btn-green,
   *:first-child+html .zoom-btn, *:first-child+html .zoom-btn-disabled,
   *:first-child+html .plus-btn, *:first-child+html .plus-btn-disabled,
   *:first-child+html .gotopage-btn, *:first-child+html .gotopage-btn-disabled,
   *:first-child+html .lookup-btn
   { display:inline; /*margin: 4px 4px 2px;*/ margin: 0 4px; }
   
   .delete-btn { background:url(./images/delete_on.png) no-repeat; }
		.delete-btn:hover { background:url(./images/delete_red.png) no-repeat; }
		.delete-btn-disabled { background:url(./images/delete_off.png) no-repeat; }
		
	.edit-btn { background: url(./images/pencil_on.png) no-repeat; }
		.edit-btn-disabled { background:url(./images/pencil_off.png) no-repeat; }
		.edit-btn-green { background:url(./images/pencil-green.png) no-repeat; }
		
	.zoom-btn { background: url(./images/zoom_on.png) no-repeat; }
		.zoom-btn-disabled { background:url(./images/zoom_off.png) no-repeat; }
		
	.plus-btn { background: url(./images/plus_on.png) no-repeat; }
		.plus-btn-disabled { background:url(./images/plus_off.png) no-repeat; }
	
	.gotopage-btn { background: url(./images/gotoPage_on.png) no-repeat; }
		.gotopage-btn-disabled { background: url(./images/gotoPage_off.png) no-repeat; }
	
	.lookup-btn { background: url(./images/lookup_on.png) no-repeat; }
	
	/* sort-buttons voor binnen th elementen */
	.sort-btn, .sort-asc-btn, .sort-desc-btn { width: 10px; height: 10px; display: inline-block; outline: none; margin: auto 2px;
	border: 0 !important; }
	
	/* IE heeft geen support voor inline-block op elementen die van nature inline zijn: IE7 star hack toegepast
	 ! Werkt niet in IE6 !
	*/
	*:first-child+html .sort-btn, *:first-child+html .sort-asc-btn, *:first-child+html .sort-desc-btn { display: inline; margin: 2px; }
	
		.sort-btn { background: url(./images/sort.png) no-repeat; }
		.sort-asc-btn { background: url(./images/sort_asc.png) no-repeat; }
		.sort-desc-btn { background: url(./images/sort_desc.png) no-repeat; }
		
	/*new implementation of the sort-buttons that they always apear right*/
	.sort-btn-container{position:relative; padding-right:16px;}
	.sort-btn.always-right, .sort-asc-btn.always-right, .sort-desc-btn.always-right {position:absolute; top:50%;right:0; margin-top:-4px;}
	
/* -----------------------------
		Errors & required
   ---------------------------*/
	span.required { color:#eb292d; }
	input.error, input.invalid, select.error, select.invalid, textarea.error, textarea.invalid, div.longLookupLabel.error, div.visualSelectBox.error, div.error div.rangedInput input { border-color: #eb292d; background-color: #FBE3E4; }
	div.longLookupLabel.error, div.visualSelectBox.error, div.error div.rangedInput input { border-width: 1px; border-style: solid; }
	
	div.errorMsgBox, div.warningMsgBox, div.succesMsgBox, ul.feedbackPanel li { margin: 1em 0; padding: 0.25em 0.2em 0.35em 3em; border-bottom: 1px solid #FBC2C4;
		background-repeat:no-repeat; background-position: 5px 3px;}
	div.errorMsgBox, ul.feedbackPanel li.feedbackPanelERROR { border-color: #FBC2C4; background-image: url(./images/red_cross.png);
		background-color: #FBE3E4; color: #8A1F11; }

	div.errorMsgBox ul { list-style:none }

 	
.